    /* фон страницы */
.b-page__container, 
.b-page_align_center { 
    background:#111 !important;
}
    /* фон хэдера и карточек */
.card, 
.yandex-header, 
.yandex-header__content { 
    background:#333 !important; 
}
    /* уменьшение ширины карточек на каждый день */
.content__row_with-right-margin, 
.content__bottom, 
.content div[class*="-segment"] .card { 
    margin-right: 308px; 
}
    /* цвет фона стрелочек прокрутки прогноза на 10 дней */
.forecast-briefly .swiper4__fadeout { 
    background-color:#4448;
}
    /* цвет полосок-разделителей */
.forecast-briefly__day_sunday:not(:last-of-type):after, 
.card .forecast-fields, 
.card div[class*="right-column"], 
.forecast-details__day, 
.card di v { 
    border-color:#282828;
}
    /* корректировка положения футера и цвет его текста */
.b-page .footer .copyright-tech { 
    padding: 12px 50px;
    color:#333;
}
    /* цвет текста в тёмных карточках */
body, 
.title-icon__text, 
.sun-card__sunrise-sunset, 
.sun-card__text-info, 
.card-title { 
    color:#a2a2a2 !important; 
}
    /* цвет ссылок других городов */
.link_theme_normal { 
    color:#666 !important; 
}
    /* цвет ссылок других городов при наведении */
.link_theme_normal:hover { 
    color:#777 !important; 
}
    /* цвет текста температуры */
.other-cities__city .temp, 
.weather-table__temp { 
    color:#eae9e9 !important; 
}
    /* цвет фона строки поиска и подсказки поиска */
.mini-suggest__input-wrapper:before, 
.mini-suggest__popup:after { 
    background:#444 !important; 
}
    /* цвет фона виджета текущей погоды */
.maps-widget-nowcast__inner { 
    background:#979797 !important; 
}
    /* реклама */
.content div div[class*="-up"], 
.content div div[class*="-down"], 
.footer__links, 
.footer__end, 
.card .card_without-card-decoration, 
.b-page_type_index .content__adv, 
.jsadv {
    display:none !important;
    width:0 !important;
}

    /* Всплывашка профиля */

.legouser__popup.light-popup.light-popup_visible_yes{ 
    background:#333 !important; 
    border-radius:12px !important; 
}
.legouser__menu-footer { 
    background:#222 !important; 
    border-radius:0 0 12px 12px !important; 
}
.legouser__menu-footer .legouser__footer-link[href*="tune"]:hover { 
    background-color:#333 !important; 
    border-bottom-left-radius:12px !important; 
}
.legouser__menu-footer .legouser__footer-link[href*="support"]:hover { 
    background-color:#333 !important; 
    border-bottom-right-radius:12px !important; 
}
.legouser__menu-footer .legouser__footer-link, 
.legouser__add-account.user-account { 
    color:#a2a2a2 !important; 
}
.legouser__accounts-container .legouser__account:hover, 
.legouser__add-account:hover, 
.legouser__menu-item:hover, 
.utilityfocus .legouser__menu-item:focus { 
    background:#4a4a4a !important; 
}

    /* скроллбар */
::-webkit-scrollbar { 
    width:8px;
}
::-webkit-scrollbar-track { 
    background-color:#111;
}
::-webkit-scrollbar-button { 
    background-image:url(''); 
    background-repeat:no-repeat; 
    width:8px; 
    height:0px;
}
::-webkit-scrollbar-thumb { 
    background-color:#333; 
    -webkit-border-radius:4px; 
    border-radius:4px;
}
::-webkit-scrollbar-thumb:hover { 
    background-color:#444;
}
::-webkit-resizer { 
    background-image:url(''); 
    background-repeat:no-repeat; 
    width:4px; 
    height:0px;
}
